*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgb(255, 192, 203);
}
.header h1{
    display: inline-block;
    padding: 20px;
    text-transform: capitalize;
}
.header h1:hover{
    color: rgb(240, 0, 188);
    text-shadow: 5px 4px 5px black;
}
.header a{
    display: inline-block;
    margin-left: 140px;
    border: 2px solid transparent;
    height: 100px;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header a:hover{
    background-color: rgb(248, 87, 114);
    border-radius: 50%;
    color: white;
}
.search1{
    margin-left: 120px;
    padding-left: 10px;
    height: 22px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid rgb(39, 32, 32);
    background-color: rgba(250, 204, 212, 0.932);
    box-shadow: 2px 3px 2px rgb(43, 34, 35);
}
.search1:hover{
    box-shadow: -2px -3px 2px rgb(43, 34, 35);
    background-color:rgba(253, 152, 169, 0.932) ;
    height: 25px;
    width: 170px;
}
.search1:focus{
    padding-left: 10px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.932);
    height: 25px;
    width: 170px;
    box-shadow: 2px 3px 2px rgb(43, 34, 35);
}

.search2{
    height: 20px;
    width: 50px;
    border-radius: 3px;
    border: 1px solid black;
    background-color: rgb(250, 104, 128);
    color: white;
    box-shadow: 3px 2px 2px rgb(43, 34, 35);
}
.search2:hover{
    background-color: rgb(245, 22, 59);
}
.bodyarea{
    margin: 30px 60px 30px 60px;
    border: 4px solid rgb(255, 237, 240);
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgb(255, 237, 240);
    box-shadow: 5px -5px 10px 3px rgba(109, 109, 109, 0.3);
}
.bodyarea a{
    height: 200px;
    width: 400px;
    box-sizing: border-box;
    margin-left: 180px ;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 3px solid rgb(255, 202, 202);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 10px;
    text-align: center ;
    line-height: 200px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
    word-spacing: 10px;
    letter-spacing: 5px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 215, 222);
}
.bodyarea a:hover{
    border: 3px solid rgb(240, 0, 188);
    color: rgb(240, 0, 188);
    text-shadow: 5px 4px 5px black;
    box-shadow: 3px 3px 1px 5px rgb(250, 93, 216);
}
.bodyarea a:active{
    color: red;
    border: 3px solid red;
    box-shadow: 3px 3px 1px 5px red;
}