html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
.p-div{
    background-color: rgb(224, 220, 220);
    height: 640px;
    width: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    height: 60%;
    width: 70%;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 40px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.box{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.boxone{
    margin-bottom: 30px;
    justify-content: start;
    align-items: start;
}
.boxtwo{
    align-items: end;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-top: 50px;
}
input{
    height: 60px;
    width: 99%;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(110, 110, 110);
    font-size: 16px;
}
button{
    height: 40px;
    width: 80px;
    border-radius: 60px;
    background-color: blue;
    border: 1px solid transparent;
    color: white;
    font-weight: bold;
    margin-top: 60px;
}
h1{
    font-size: 35px;
    font-weight: normal;
    font-family: sans-serif;
    color: rgb(49, 48, 48);

}
p{
    font-weight: 300;
    font-family: sans-serif;
    color: rgb(48, 47, 47);
    margin-bottom: 20px;
    margin-top: -3px;
}
.inputone{
    margin-top: -20px;
    margin-bottom: 30px;
}
.secmain{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 25px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 12px;
}
.lastdiv{
    display: flex;
    gap: 20px;
}